html,
body,
h1,
h2,
h3,
p,
ol,
ul,
li,
a {
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  margin: 10px 0 15px 0;
  text-align: center;
}

h2 {
  margin: 10px 0 20px 0;
  text-align: center;
}

h3 {
  margin: 15px 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 3px;
}

ul,
ol {
  padding-left: 50px;
}

nav {
  text-align: center;
}

nav ul {
  padding-left: 0;
}

nav a {
  color: #0000af;
  text-decoration: none;
}

nav li {
  display: inline;
}

.recipes {
  list-style-type: none;
  padding: 0;
}

.recipes li {
  border: 1px solid #b56663;
  padding-left: 15px;
}

.recipes h3 {
  border-bottom: 0;
}

.recipes a {
  color: #7facaa;
  text-decoration: none;
}

header {
  padding: 10px;
  background-color: #b56663;
}

header a,
h1 {
  color: #fff;
}

main {
  width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 30px auto 0 auto;
}
